---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":0,"timestamp":"2021-08-25T22:57:54.2678827Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","contract_addresses":[],"_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":25.686044932769526,"price_btc":0.0005257912541969167,"price_eth":0.008008736115077788,"volume_last_24_hours":1415459209.8116477,"real_volume_last_24_hours":825782646.2924055,"volume_last_24_hours_overstatement_multiple":1.7140820483050458,"percent_change_usd_last_1_hour":-1.7207234283446646,"percent_change_btc_last_1_hour":-1.4331103048139817,"percent_change_eth_last_1_hour":-1.6475210055763867,"percent_change_usd_last_24_hours":2.3884139260792003,"percent_change_btc_last_24_hours":-0.03741300051267572,"percent_change_eth_last_24_hours":1.270953754559654,"ohlcv_last_1_hour":{"open":26.097736958981887,"high":26.34413167495797,"low":25.66999664326838,"close":25.68299213881262,"volume":27906064.092160244},"ohlcv_last_24_hour":{"open":25.557117699231576,"high":26.563160991360444,"low":24.477092642396094,"close":25.68604493276953,"volume":1034161820.0893307},"last_trade_at":"2021-08-25T22:57:53.3Z"},"marketcap":{"rank":9,"marketcap_dominance_percent":1.2138167510240976,"current_marketcap_usd":25440928052.557785,"y_2050_marketcap_usd":430288013148.8773,"y_plus10_marketcap_usd":74780508683.18202,"liquid_marketcap_usd":28849937778.128616,"volume_turnover_last_24_hours_percent":2.863000232101327,"realized_marketcap_usd":19667492670.46818,"outstanding_marketcap_usd":27526284376.323566},"supply":{"y_2050":16703146221,"y_plus10":2902869085,"liquid":1119912046,"circulating":987579314.957085,"y_2050_issued_percent":6.704796995622253,"annual_inflation_percent":9.992824293632072,"stock_to_flow":10.007180859141593,"y_plus10_issued_percent":38.57948854073108,"supply_revived_90d":1087240054.4501526},"blockchain_stats_24_hours":{"count_of_active_addresses":27677,"transaction_volume":241278162.695113,"adjusted_transaction_volume":178160055.95460737,"adjusted_nvt":154.503119281332,"median_tx_value":3.61125293457441,"median_tx_fee":null,"count_of_tx":155988,"count_of_payments":47532,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_type":"Run
        a Validator Node","staking_yield_percent":14.147644568559292,"real_staking_yield_percent":5.620127121787348,"staking_minimum":null,"tokens_staked":663875505.1840355,"tokens_staked_percent":60.27517446771942,"staking_engaged_balance":663875505.1840355,"staked_total_percent":60.27517446771942,"staking_options":[{"name":"Delegate
        Polkadot","reward":13.428240814874856,"adjusted_reward":4.900723368102913},{"name":"Lend
        Polkadot","reward":4.5,"adjusted_reward":4.5},{"name":"Run a Validator Node","reward":14.147644568559292,"adjusted_reward":5.620127121787348}]},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":8.390580393401937,"percent_change_last_1_month":85.85003609712021,"percent_change_last_3_months":7.857948543213627,"percent_change_last_1_year":366.1726586640841,"percent_change_btc_last_1_week":-1.0178437130469409,"percent_change_btc_last_1_month":41.38801925124701,"percent_change_btc_last_3_months":-15.091299552727142,"percent_change_btc_last_1_year":7.8093172090912075,"percent_change_eth_last_1_week":1.559375856342401,"percent_change_eth_last_1_month":28.706349184622937,"percent_change_eth_last_3_months":-8.037182034880917,"percent_change_eth_last_1_year":-44.498413390409745,"percent_change_month_to_date":40.477922851525065,"percent_change_quarter_to_date":70.53054503473197,"percent_change_year_to_date":211.97837303546527},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":8.505636646322081,"last_90_days":0.8444261916583083,"last_1_year":1.8293951187828599,"last_3_years":1.3631754595638526},"volatility_stats":{"volatility_last_30_days":0.9225881782742336,"volatility_last_90_days":1.2285511244469245,"volatility_last_1_year":1.4825251189387472,"volatility_last_3_years":1.8419083618804175}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":["Polkadot Ecosystem"]},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"addresses_count":451810,"active_addresses":27677,"active_addresses_received_count":25669,"active_addresses_sent_count":6309,"addresses_balance_greater_0_001_native_units_count":451810,"addresses_balance_greater_0_01_native_units_count":451810,"addresses_balance_greater_0_1_native_units_count":451810,"addresses_balance_greater_1_usd_count":451810,"addresses_balance_greater_1_native_units_count":451810,"addresses_balance_greater_10_usd_count":451810,"addresses_balance_greater_10_native_units_count":189471,"addresses_balance_greater_100_usd_count":273527,"addresses_balance_greater_100_native_units_count":56408,"addresses_balance_greater_100k_usd_count":4727,"addresses_balance_greater_100k_native_units_count":794,"addresses_balance_greater_10k_usd_count":21796,"addresses_balance_greater_10k_native_units_count":2773,"addresses_balance_greater_10m_usd_count":292,"addresses_balance_greater_1k_usd_count":94367,"addresses_balance_greater_1k_native_units_count":11956,"addresses_balance_greater_1m_usd_count":1285,"addresses_balance_greater_1m_native_units_count":163,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":6877632.165898352,"issuance_total_native_units":271654.4328435135,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":19667492670.46818,"adjusted_nvt":154.503119281332,"adjusted_nvt_90d_moving_average":153.89997244791925,"adjusted_rvt":110.392268149485,"adjusted_rvt_90d_moving_average":109.96132055905805,"txn_count_last_24_hours":155988,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":1.805416666667,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":47532,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":241278162.695113,"adjusted_txn_volume_last_24_hours_usd":178160055.95460737,"adjusted_txn_volume_last_24_hours_native_units":7037010.382103763,"txn_volume_last_24_hours_native_units":9530065.124659738,"average_transfer_value_usd":5076.120564991183,"average_transfer_value_native_units":200.4978777384,"median_transfer_value_usd":3.61125293457441,"median_transfer_value_native_units":0.14263817024999997,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":812231741.9590744,"supply_active_180d":750103151.7229229,"supply_active_1d":134243991.54613805,"supply_active_1y":811637555.3095373,"supply_active_1y_percent":74.6511823205,"supply_active_2y":812231741.9590744,"supply_active_30d":301633053.1157934,"supply_active_3y":812231741.9590744,"supply_active_4y":812231741.9590744,"supply_active_5y":812231741.9590744,"supply_active_7d":188721305.91270825,"supply_active_90d":554148411.6131669,"supply_active_ever":812231741.9590744,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":1087240054.4501526,"supply_in_addresses_balance_greater_0_01_native_units":1087240054.4501526,"supply_in_addresses_balance_greater_0_1_native_units":1087240054.4501526,"supply_in_addresses_balance_greater_1_usd":1087240054.4501526,"supply_in_addresses_balance_greater_10_usd":1087240054.4501526,"supply_in_addresses_balance_greater_100_usd":1086927101.3916125,"supply_in_addresses_balance_greater_100k_usd":1056595083.667547,"supply_in_addresses_balance_greater_100k_native_units":987376152.9790452,"supply_in_addresses_balance_greater_100_native_units":1082196236.2685373,"supply_in_addresses_balance_greater_10k_usd":1075696760.3571384,"supply_in_addresses_balance_greater_10k_native_units":1044764585.8774966,"supply_in_addresses_balance_greater_10m_usd":894808975.6491647,"supply_in_addresses_balance_greater_10_native_units":1086374921.5355113,"supply_in_addresses_balance_greater_1k_usd":1084591791.5582182,"supply_in_addresses_balance_greater_1k_native_units":1069709842.8384721,"supply_in_addresses_balance_greater_1m_usd":1018165209.5182909,"supply_in_addresses_balance_greater_1m_native_units":812994481.1198455,"supply_in_addresses_balance_greater_1_native_units":1087240054.4501526,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":725184766.707017,"supply_in_top_10_percent_addresses":1080946251.282611,"supply_in_top_1_percent_addresses":1055741891.6558206,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Wed, 25 Aug 2021 22:57:54 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/intel/events?asset=polkadot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"status\":{\"elapsed\":22,\"timestamp\":\"2021-08-25T22:57:54.579786942Z\"},\"data\":[{\"eventId\":\"021a3176-9bf9-466c-bbc8-bbd34d7d0aa5\",\"authorId\":\"auth0|5f15970d7c4a0f00130fbdca\",\"createDate\":\"2021-02-18T17:09:15Z\",\"updateDate\":\"2021-04-07T01:14:44Z\",\"createAuthorName\":\"aidan@messari.io\",\"updateAuthorName\":\"aidan@messari.io\",\"eventName\":\"Multi-Blockchain
        Support \",\"assets\":[\"the-graph\",\"polkadot\",\"solana\",\"near-protocol\",\"celo\"],\"details\":\"The
        Graph has revealed a list of additional Layer 1 blockchains supported by the
        protocol: Polkdadot, Near, Solana, and Celo.\",\"eventDate\":\"2021-02-18T00:00:00Z\",\"softDate\":\"\",\"status\":\"Completed\",\"category\":\"Network
        Change\",\"subcategory\":\"Network Integration\",\"tags\":[\"\"],\"importance\":\"Medium\",\"resources\":[{\"name\":\"Announcement
        \",\"link\":\"https://thegraph.com/blog/multiblockchain-support\"},{\"name\":\"Celo
        Integration Announcement \",\"link\":\"https://thegraph.com/blog/graph-celo\"}],\"activationBlock\":null,\"update\":\"The
        Graph now provides indexing and querying support for the Celo Blockchain.
        \",\"submissionId\":\"d3480fb7-d8af-44c5-8d05-b7f8e805c81f\"},{\"eventId\":\"664d6977-424f-4c21-b3d9-47815c386b36\",\"authorId\":\"google-oauth2|113893247094344112466\",\"createDate\":\"2020-07-27T04:00:00Z\",\"updateDate\":\"2020-07-27T04:00:00Z\",\"createAuthorName\":\"Wilson
        Withiam\",\"updateAuthorName\":\"Wilson Withiam\",\"eventName\":\"DOT Token
        Sale\",\"assets\":[\"polkadot\"],\"details\":\"The Web3 Foundation and Parity
        Technologies raised just shy of 4,000 BTC (totaling $44 million[...]
- request:
    method: get
    uri: http://localhost:2222/validator/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":326,"created_at":"2020-10-10T23:11:17.098518Z","updated_at":"2021-02-25T14:54:38.729868Z","started_at_height":1103957,"started_at":"2020-08-11T15:36:18Z","recent_at_height":3943160,"recent_at":"2021-02-25T14:54:06Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","recent_as_validator_height":3943160,"display_name":"\u0008Figment","uptime":0.9808612440191388,"last_session_sequences":[],"last_era_sequences":[{"id":55496,"era":261,"start_height":3826689,"end_height":3841080,"time":"2021-02-18T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","controller_account":"13pZ8dj3xK7zm7hsNVNLjQEuxxTZY7vWbbgdrDZiHPmp4Edc","session_accounts":null,"index":77,"total_stake":28002725721075696,"own_stake":1018249380627,"stakers_stake":28001707471695068,"reward_points":620,"commission":100000000,"stakers_count":12}],"delegations":[{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":10000000000},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":5712062253001297},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":18575999980000000}]}

        '
  recorded_at: Wed, 25 Aug 2021 22:57:54 GMT
recorded_with: VCR 6.0.0
