---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/cosmos/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3935'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":1,"timestamp":"2021-08-26T15:07:31.695020256Z"},"data":{"id":"3385649f-7e22-4260-9995-309f05650e47","symbol":"ATOM","name":"Cosmos","slug":"cosmos","contract_addresses":[],"_internal_temp_agora_id":"eb97a2be-c1f8-4544-b2d4-623e17bffef3","market_data":{"price_usd":18.39976757179787,"price_btc":0.00039202749156752164,"price_eth":0.005903227676565174,"volume_last_24_hours":321014820.9495586,"real_volume_last_24_hours":183691550.2739646,"volume_last_24_hours_overstatement_multiple":1.7475753265231024,"percent_change_usd_last_1_hour":-1.6012036040370916,"percent_change_btc_last_1_hour":-0.8684890478063216,"percent_change_eth_last_1_hour":-1.0022673625256693,"percent_change_usd_last_24_hours":-7.465748127041833,"percent_change_btc_last_24_hours":-3.7267816813468206,"percent_change_eth_last_24_hours":-4.448195819626593,"ohlcv_last_1_hour":{"open":18.713679060778876,"high":18.88396936985738,"low":18.33375225278911,"close":18.39702899980369,"volume":8104636.958062185},"ohlcv_last_24_hour":{"open":19.444825399663774,"high":20.878196242757465,"low":17.988528306312634,"close":18.399767571797867,"volume":237156850.31811848},"last_trade_at":"2021-08-26T15:07:28.717Z"},"marketcap":{"rank":37,"marketcap_dominance_percent":0.2012286387361301,"current_marketcap_usd":4054047681.187853,"y_2050_marketcap_usd":40344513950.736374,"y_plus10_marketcap_usd":10695698338.916197,"liquid_marketcap_usd":5192038912.019898,"volume_turnover_last_24_hours_percent":3.527571839163556,"realized_marketcap_usd":null,"outstanding_marketcap_usd":null},"supply":{"y_2050":2192096427.8,"y_plus10":581144741.2699999,"liquid":282106508.11,"circulating":220274395.94176996,"y_2050_issued_percent":12.869256321589997,"annual_inflation_percent":7.494730565292664,"stock_to_flow":13.34270780367874,"y_plus10_issued_percent":48.54324371816578,"supply_revived_90d":null},"blockchain_stats_24_hours":{"count_of_active_addresses":null,"transaction_volume":null,"adjusted_transaction_volume":null,"adjusted_nvt":null,"median_tx_value":null,"median_tx_fee":null,"count_of_tx":null,"count_of_payments":null,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":30.5717844324454,"at":"2021-05-08T06:00:00Z","days_since":101,"percent_down":49.38625344230268,"breakeven_multiple":1.9757478313921029},"cycle_low":{"price":8.04460361299306,"at":"2021-06-22T13:00:00Z","percent_up":92.34664919737953,"days_since":56},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_type":"Run
        a Validator Node","staking_yield_percent":10.037332220275315,"real_staking_yield_percent":3.0492443676147927,"staking_minimum":null,"tokens_staked":194033835.153197,"tokens_staked_percent":69.94562861831976,"staking_engaged_balance":194033835.153197,"staked_total_percent":69.94562861831976,"staking_options":[{"name":"Delegate
        Cosmos","reward":9.014868619372448,"adjusted_reward":2.0267807667119255},{"name":"Run
        a Validator Node","reward":10.037332220275315,"adjusted_reward":3.0492443676147927}]},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-0.3846770253988412,"percent_change_last_1_month":59.07643016426791,"percent_change_last_3_months":46.62502143692559,"percent_change_last_1_year":141.47257840669295,"percent_change_btc_last_1_week":-1.090946397306769,"percent_change_btc_last_1_month":33.29799808128301,"percent_change_btc_last_3_months":11.301394538949246,"percent_change_btc_last_1_year":-41.22739095319251,"percent_change_eth_last_1_week":1.756547964012355,"percent_change_eth_last_1_month":17.369233661774054,"percent_change_eth_last_3_months":13.51346196961574,"percent_change_eth_last_1_year":-70.11129549468158,"percent_change_month_to_date":51.15352189867104,"percent_change_quarter_to_date":68.74761503725387,"percent_change_year_to_date":216.96358768517888},"roi_by_year":{"2020_usd_percent":47.64800410051998,"2019_usd_percent":11.161385242410816,"2018_usd_percent":0,"2017_usd_percent":0,"2016_usd_percent":0,"2015_usd_percent":0,"2014_usd_percent":0,"2013_usd_percent":0,"2012_usd_percent":0,"2011_usd_percent":0},"risk_metrics":{"sharpe_ratios":{"last_30_days":7.3155733915406245,"last_90_days":1.5115720992932682,"last_1_year":1.2048903612100221,"last_3_years":0.8848331109441785},"volatility_stats":{"volatility_last_30_days":0.9646034352929557,"volatility_last_90_days":1.2385000833438906,"volatility_last_1_year":1.461182638780084,"volatility_last_3_years":1.3744595928716157}},"misc_data":{"private_market_price_usd":null,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":["Cosmos Ecosystem"]},"reddit":{"active_user_count":79,"subscribers":34402},"on_chain_data":{"addresses_count":null,"active_addresses":null,"active_addresses_received_count":null,"active_addresses_sent_count":null,"addresses_balance_greater_0_001_native_units_count":null,"addresses_balance_greater_0_01_native_units_count":null,"addresses_balance_greater_0_1_native_units_count":null,"addresses_balance_greater_1_usd_count":null,"addresses_balance_greater_1_native_units_count":null,"addresses_balance_greater_10_usd_count":null,"addresses_balance_greater_10_native_units_count":null,"addresses_balance_greater_100_usd_count":null,"addresses_balance_greater_100_native_units_count":null,"addresses_balance_greater_100k_usd_count":null,"addresses_balance_greater_100k_native_units_count":null,"addresses_balance_greater_10k_usd_count":null,"addresses_balance_greater_10k_native_units_count":null,"addresses_balance_greater_10m_usd_count":null,"addresses_balance_greater_1k_usd_count":null,"addresses_balance_greater_1k_native_units_count":null,"addresses_balance_greater_1m_usd_count":null,"addresses_balance_greater_1m_native_units_count":null,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":null,"issuance_total_native_units":null,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":null,"adjusted_nvt":null,"adjusted_nvt_90d_moving_average":null,"adjusted_rvt":null,"adjusted_rvt_90d_moving_average":null,"txn_count_last_24_hours":null,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":null,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":null,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":null,"adjusted_txn_volume_last_24_hours_usd":null,"adjusted_txn_volume_last_24_hours_native_units":null,"txn_volume_last_24_hours_native_units":null,"average_transfer_value_usd":null,"average_transfer_value_native_units":null,"median_transfer_value_usd":null,"median_transfer_value_native_units":null,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":null,"supply_active_180d":null,"supply_active_1d":null,"supply_active_1y":null,"supply_active_1y_percent":null,"supply_active_2y":null,"supply_active_30d":null,"supply_active_3y":null,"supply_active_4y":null,"supply_active_5y":null,"supply_active_7d":null,"supply_active_90d":null,"supply_active_ever":null,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":null,"supply_in_addresses_balance_greater_0_01_native_units":null,"supply_in_addresses_balance_greater_0_1_native_units":null,"supply_in_addresses_balance_greater_1_usd":null,"supply_in_addresses_balance_greater_10_usd":null,"supply_in_addresses_balance_greater_100_usd":null,"supply_in_addresses_balance_greater_100k_usd":null,"supply_in_addresses_balance_greater_100k_native_units":null,"supply_in_addresses_balance_greater_100_native_units":null,"supply_in_addresses_balance_greater_10k_usd":null,"supply_in_addresses_balance_greater_10k_native_units":null,"supply_in_addresses_balance_greater_10m_usd":null,"supply_in_addresses_balance_greater_10_native_units":null,"supply_in_addresses_balance_greater_1k_usd":null,"supply_in_addresses_balance_greater_1k_native_units":null,"supply_in_addresses_balance_greater_1m_usd":null,"supply_in_addresses_balance_greater_1m_native_units":null,"supply_in_addresses_balance_greater_1_native_units":null,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":null,"supply_in_top_10_percent_addresses":null,"supply_in_top_1_percent_addresses":null,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Thu, 12 Aug 2021 16:55:35 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3934'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"st[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3933'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: get
    uri: https://localhost:3333/validators/p2p-org.poolv1.near
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '26'
      X-Ratelimit-Limit-Minute:
      - '2000'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      Ratelimit-Limit:
      - '2000'
      X-Concurrent-Quota-Remaining:
      - '4'
      X-Concurrent-Quota-Limit:
      - '5'
      Quota-Limit:
      - '100000'
      Quota-Remaining:
      - '99914'
      Quota-Reset:
      - '31946'
      X-Quota-Remaining-Day:
      - '99914'
      X-Quota-Limit-Day:
      - '100000'
    body:
      encoding: UTF-8
      string: '{"account":{"name":"p2p-org.poolv1.near","start_height":28525845,"start_time":"2021-01-27T10:44:59.9786Z","last_height":46215329,"last_time":"2021-08-26T15:07:22.541756Z","balance":null,"staking_balance":"3787176418426405691486086171349"},"blocks":[{"id":46215329,"time":"2021-08-26T15:07:22.541756Z","producer":"dragonfly.poolv1.near","hash":"Gc27BFARAkYoYefd1GWCkzdU2mNgqQQ5MVCn1ePcZeKT","epoch":"Ekap3GDXAsEfFhbhpfd2LnEfEp6pQ9BJPNmiVWeKgPFC","gas_price":"100000000","gas_allowed":0,"gas_used":0,"total_supply":"1042442035122326498015865644843761","chunks_count":1,"transactions_count":2,"approvals_count":59,"created_at":"2021-08-26T15:07:27.129151Z"},{"id":46215328,"time":"2021-08-26T15:07:21.391749Z","producer":"masternode24.poolv1.near","hash":"BVUE9CQ9XRNLVptFSEjj9bdKKWrEJFyEtcGxPPVJAzY5","epoch":"Ekap3GDXAsEfFhbhpfd2LnEfEp6pQ9BJPNmiVWeKgPFC","gas_price":"100000000","gas_allowed":0,"gas_used":0,"total_supply":"1042442035127586889189716044843761","chunks_count":1,"transactions_count":2,"approvals_count":59,"created_at":"2021-08-26T15:07:27.129151Z"},{"id":46215327,"time":"2021-08-26T15:07:20.293383Z","produce[...]
- request:
    method: get
    uri: http://localhost:8081/validator/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":326,"created_at":"2020-10-10T23:11:17.098518Z","updated_at":"2021-02-25T14:54:38.729868Z","started_at_height":1103957,"started_at":"2020-08-11T15:36:18Z","recent_at_height":3943160,"recent_at":"2021-02-25T14:54:06Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","recent_as_validator_height":3943160,"display_name":"\u0008Figment","uptime":0.9808612440191388,"last_session_sequences":[],"last_era_sequences":[{"id":55496,"era":261,"start_height":3826689,"end_height":3841080,"time":"2021-02-18T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","controller_account":"13pZ8dj3xK7zm7hsNVNLjQEuxxTZY7vWbbgdrDZiHPmp4Edc","session_accounts":null,"index":77,"total_stake":28002725721075696,"own_stake":1018249380627,"stakers_stake":28001707471695068,"reward_points":620,"commission":100000000,"stakers_count":12}],"delegations":[{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":10000000000},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":5712062253001297},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":18575999980000000}]}

'
  recorded_at: Thu, 12 Aug 2021 16:55:35 GMT
- request:
    method: get
    uri: http://localhost:8081/validator/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":484,"created_at":"2020-12-25T15:37:12.4891[...]
[...]
- request:
    method: get
    uri: http://localhost:8081/system_events/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":2939252,"time":"2020-12-17T15:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"joined_set","data":null},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joined","data":{"stash_accounts":["14V7eV9E45sPayXCzkLE4RwbTWgyv5HWALfZyS8bzhUu6Fny","15ALVm6h6ZSZ2BGsoqzqo95VzoANMmrv3fCFZLtueghPzxyg"]}},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_left","data":{"stash_accounts":["15qtQcxJ8Yg3t3gwG9SwXwdpi66RZ8odzjQ55XS1chjkd9UB","12zXNicmbyQ2mEBxwv8yHvzmvdJkWKrShEi2UUoqeyx9FbC6"]}},{"height":2979930,"time":"2020-12-20T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joine[...]
- request:
    method: get
    uri: http://localhost:8081/system_events/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":3054058,"time":"2020-12-25T15:36:18Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"joined_set","data":null},{"height":3054357,"time":"2020-12-25T16:06:12Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19732800000,"before":19607000000,"change":-0.6000000000000001}},{"height":3054639,"time":"2020-12-25T16:34:30Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19799800000,"before":19732800000,"change":-0.30000000000000004}},{"height":3055322,"time":"2020-12-25T17:42:48Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19831000000,"before":19799800000,"change":-0.2}},{"height":3056171,"time":"2020-12-25T19:07:54Z","act[...]
- request:
    method: get
    uri: https://localhost:3333/events?height&item_id=p2p-org.poolv1.near&item_type=validator
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1997'
      X-Ratelimit-Remaining-Minute:
      - '1997'
      Ratelimit-Reset:
      - '19'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
      Quota-Limit:
      - '100000'
      Quota-Remaining:
      - '99912'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '31939'
      X-Quota-Remaining-Day:
      - '99912'
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"limit":100,"count":5,"records":[{"id":686,"scope":"staking","action":"joined_active_set","block_height":33796253,"block_time":"2021-04-03T11:06:44.044152Z","epoch":"8Lmh225rm6JL5dkibKnhfqXo24dqV45gq1VY3j9bEXEg","item_id":"p2p-org.poolv1.near","item_type":"validator","metadata":{"stake":"3569815823373938800867275898727"},"created_at":"2021-04-09T20:07:59.240942Z"},{"id":533,"scope":"staking","action":"joined_active_set","block_height":29519445,"block_time":"2021-02-09T09:20:02.546796Z","epoch":"DkoGRwUWceHaLYJdDFGPkajmYXRsyHz8brpNV7o54sHE","item_id":"p2p-org.poolv1.near","item_type":"validator","metadata":{"stake":"3503185957745356233398280201547"},"created_at":"2021-02-09T09:21:09.571449Z"},{"id":505,"scope":"staking","action":"left_active_set","block_height":28785045,"block_time":"2021-01-30T20:28:36.412637Z","epoch":"5trATeFpcbR9wmRTRPoHygKfjDwsCMTGPwXmVHHNGtxJ","item_id":"p2p-org.poolv1.near","item_type":"validator","metadata":{"stake":"3001915443902591299462595783053"},"created_at":"2021-01-30T20:28:48.848186Z"},{"id":503,"scope":"staking","action":"kicked","block_height":28741845,"block_time":"2021-01-30T06:56:45.045682Z","epoch":"12jMundcDXqCJeK4daPYHzXU7UNQY4VVonLvZCX52tgf","item_id":"p2p-org.poolv1.near","item_type":"validator","metadata":{"reason":"not_enough_stake","stake":"3002738451743172454898501702534","threshold":"3047676363556650637039411274284"},"created_at":"2021-01-30T06:56:51.863309Z"},{"id":492,"scope":"staking","action":"joined_active_set","block_height":28525845,"block_time":"2021-01-27T10:44:59.9786Z","epoch":"95hmTkchdBEy8bUEPQoFTikV8o9W4MkT8C2BggguMLKX","item_id":"p2p-org.poolv1.near","item_type":"validator","metadata":{"stake":"2999880000423413705255100000000"},"created_at":"2021-01-27T10:46:13.11011Z"}]}'
  recorded_at: Thu, 12 Aug 2021 16:55:35 GMT
- request:
    method: get
    uri: https://localhost:4444/rewards?account=cosmos1lr0rtlsse60slsljas2y2f3ew7skm26yd9wvf8&chain_id=cosmoshub-4&end_time=2021-08-12T16:55:35Z&network=cosmos&start_time=2021-05-14T16:55:35Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '18'
      X-Ratelimit-Limit-Minute:
      - '2000'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      Ratelimit-Limit:
      - '2000'
      X-Concurrent-Quota-Remaining:
      - '498'
      X-Concurrent-Quota-Limit:
      - '500'
      X-Quota-Limit-Month:
      - '75000000'
      Quota-Limit:
      - '2500000'
      Quota-Remaining:
      - '2306339'
      Quota-Reset:
      - '31938'
      X-Quota-Remaining-Day:
      - '2306339'
      X-Quota-Remaining-Month:
      - '67124445'
      X-Quota-Limit-Day:
      - '2500000'
    body:
      encoding: UTF-8
      string: '[{"start":6216275,"end":6228010,"time":"2021-05-14T16:55:35Z","validator":"cosmosvaloper1sjllsnramtg3ewxqwwrwjxfgc4n4ef9u2lcnj0","rewards":[{"text":"6277.32724014301492904uatom","currency":"uatom","numeric":6277327240143014929040,"exp":18}]},{"start":6216275,"end":6228010,"time":"2021-05-14T16:55:35Z","validator":"cosmosvaloper1qaa9zej9a0ge3ugpx3pxyx602lxh3ztqgfnp42","rewards":[{"text":"3841.98331518282617246uatom","currency":"uatom","numeric":3841983315182826172460,"exp":18}]},{"start":6216275,"end":6228010,"time":"2021-05-14T16:55:35Z","validator":"cosmosvaloper1qs8tnw2t8l6amtzvdemnnsq9dzk0ag0z52uzay","rewards":[{"text":"2384.250206618700090748uatom","currency":"uatom","numeric":2384250206618700090748,"exp":18}]},{"start":62[...]
- request:
    method: get
    uri: https://localhost:3333/delegators/figment.near/rewards?from=2021-05-14&interval=daily&to=2021-08-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Reset:
      - '9'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1996'
      X-Ratelimit-Remaining-Minute:
      - '1996'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
      Quota-Limit:
      - '100000'
      X-Quota-Remaining-Day:
      - '99911'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '31929'
      Quota-Remaining:
      - '99911'
    body:
      encoding: UTF-8
      string: '[{"interval":"2021-06-22","validator":"figment.poolv1.near","amount":"175318891792053565115550454"},{"interval":"2021-06-24","validator":"figment.poolv1.near","amount":"357360257236782080815929533"},{"interval":"2021-06-25","validator":"figment.poolv1.near","amount":"88987109819772932903628048"},{"interval":"2021-06-27","validator":"figment.poolv1.near","amount":"88564774096209113428964409"},{"interval":"2021-06-28","validator":"figment.poolv1.near","amount":"88964982182318842310001839"},{"interval":"2021-06[...]
- request:
    method: get
    uri: https://localhost:3333/delegators/582d15d089225c0595b14ac4359dc854466dacc271304d14ab2d5c15491f4cf4/rewards?from=2021-05-14&interval=daily&to=2021-08-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1995'
      X-Ratelimit-Remaining-Minute:
      - '1995'
      Ratelimit-Reset:
      - '9'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
      Quota-Limit:
      - '100000'
      Quota-Remaining:
      - '99910'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '31929'
      X-Quota-Remaining-Day:
      - '99910'
    body:
      encoding: UTF-8
      string: '{"error":"account is not found","status":404}'
  recorded_at: Thu, 12 Aug 2021 16:55:35 GMT
- request:
    method: get
    uri: http://localhost:8081/rewards/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
[...]
