---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3957'
      X-Ratelimit-Reset:
      - '1625927962'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":2,"timestamp":"2021-07-09T16:10:40.970988322Z"},"data":{"id":"5416e814-8023-4f66-aadb-a063afca2414","symbol":"NEAR","name":"NEAR
        Protocol","slug":"near-protocol","contract_addresses":[],"_internal_temp_agora_id":"6bca8a6c-8c4c-4d64-a6c3-cf5b3b4464a4","market_data":{"price_usd":2.0937606073546142,"price_btc":0.00006248340721809248,"price_eth":0.00096498756960157,"volume_last_24_hours":23338303.58664792,"real_volume_last_24_hours":15996403.877648355,"volume_last_24_hours_overstatement_multiple":1.4589718892543306,"percent_change_usd_last_1_hour":-0.622334934871357,"percent_change_btc_last_1_hour":-0.4285256659788392,"percent_change_eth_last_1_hour":0.006529784402665634,"percent_change_usd_last_24_hours":-2.767224787227817,"percent_change_btc_last_24_hours":-4.520871140854195,"percent_change_eth_last_24_hours":-3.0294647748010144,"ohlcv_last_1_hour":{"open":2.10697114392865,"high":2.118345196452671,"low":2.0883990812570508,"close":2.0934004856505135,"volume":1286832.9069395335},"ohlcv_last_24_hour":{"open":2.1281921559747983,"high":2.166107767628861,"low":2.010299167573199,"close":2.0937606073546142,"volume":21025133.19010445},"last_trade_at":"2021-07-09T16:10:26.475Z"},"marketcap":{"rank":84,"marketcap_dominance_percent":0.06118612307383928,"current_marketcap_usd":865695096.2627696,"y_2050_marketcap_usd":8732903030.325974,"y_plus10_marketcap_usd":3543246706.1940985,"liquid_marketcap_usd":869981215.5961629,"volume_turnover_last_24_hours_percent":1.8387068123863648,"realized_marketcap_usd":null,"outstanding_marketcap_usd":null},"supply":{"y_2050":4160810890,"y_plus10":1688187700,"liquid":414504467,"circulating":412462336,"y_2050_issued_percent":9.962107818843936,"annual_inflation_percent":80.27911723325289,"stock_to_flow":1.245653956426148,"y_plus10_issued_percent":24.55322159970719,"supply_revived_90d":null},"blockchain_stats_24_hours":{"count_of_active_addresses":null,"transaction_volume":null,"adjusted_transaction_volume":null,"adjusted_nvt":null,"median_tx_value":null,"median_tx_fee":null,"count_of_tx":null,"count_of_payments":null,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":7.505335113839061,"at":"2021-03-13T17:00:00Z","days_since":117,"percent_down":72.03404674982472,"breakeven_multiple":3.5757765560654806},"cycle_low":{"price":1.7614367563213476,"at":"2021-06-26T08:00:00Z","percent_up":19.160594422289996,"days_since":13},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":null,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":null},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":915,"watchers":56,"commits_last_3_months":130,"commits_last_1_year":429,"lines_added_last_3_months":35334,"lines_added_last_1_year":103028,"lines_deleted_last_3_months":7980,"lines_deleted_last_1_year":41464},"roi_data":{"percent_change_last_1_week":-0.5064697406546073,"percent_change_last_1_month":-35.14180794841534,"percent_change_last_3_months":-67.81814533966838,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":0.32599499300031265,"percent_change_btc_last_1_month":-27.61276031131817,"percent_change_btc_last_3_months":-42.5952530972468,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":-1.0572157157689426,"percent_change_eth_last_1_month":-21.82922740394663,"percent_change_eth_last_3_months":-68.30511997735135,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":0.8835934281976482,"percent_change_quarter_to_date":0.8835934281976482,"percent_change_year_to_date":53.846582615147945},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":-3.549837191921801,"last_90_days":-2.2689987524428816,"last_1_year":1.6391024201010242,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":1.1611726078173694,"volatility_last_90_days":1.613194632003537,"volatility_last_1_year":1.677304763164719,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":null,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":null},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"addresses_count":null,"active_addresses":null,"active_addresses_received_count":null,"active_addresses_sent_count":null,"addresses_balance_greater_0_001_native_units_count":null,"addresses_balance_greater_0_01_native_units_count":null,"addresses_balance_greater_0_1_native_units_count":null,"addresses_balance_greater_1_usd_count":null,"addresses_balance_greater_1_native_units_count":null,"addresses_balance_greater_10_usd_count":null,"addresses_balance_greater_10_native_units_count":null,"addresses_balance_greater_100_usd_count":null,"addresses_balance_greater_100_native_units_count":null,"addresses_balance_greater_100k_usd_count":null,"addresses_balance_greater_100k_native_units_count":null,"addresses_balance_greater_10k_usd_count":null,"addresses_balance_greater_10k_native_units_count":null,"addresses_balance_greater_10m_usd_count":null,"addresses_balance_greater_1k_usd_count":null,"addresses_balance_greater_1k_native_units_count":null,"addresses_balance_greater_1m_usd_count":null,"addresses_balance_greater_1m_native_units_count":null,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":null,"issuance_total_native_units":null,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":null,"adjusted_nvt":null,"adjusted_nvt_90d_moving_average":null,"adjusted_rvt":null,"adjusted_rvt_90d_moving_average":null,"txn_count_last_24_hours":null,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":null,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":null,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":null,"adjusted_txn_volume_last_24_hours_usd":null,"adjusted_txn_volume_last_24_hours_native_units":null,"txn_volume_last_24_hours_native_units":null,"average_transfer_value_usd":null,"average_transfer_value_native_units":null,"median_transfer_value_usd":null,"median_transfer_value_native_units":null,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":null,"supply_active_180d":null,"supply_active_1d":null,"supply_active_1y":null,"supply_active_1y_percent":null,"supply_active_2y":null,"supply_active_30d":null,"supply_active_3y":null,"supply_active_4y":null,"supply_active_5y":null,"supply_active_7d":null,"supply_active_90d":null,"supply_active_ever":null,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":null,"supply_in_addresses_balance_greater_0_01_native_units":null,"supply_in_addresses_balance_greater_0_1_native_units":null,"supply_in_addresses_balance_greater_1_usd":null,"supply_in_addresses_balance_greater_10_usd":null,"supply_in_addresses_balance_greater_100_usd":null,"supply_in_addresses_balance_greater_100k_usd":null,"supply_in_addresses_balance_greater_100k_native_units":null,"supply_in_addresses_balance_greater_100_native_units":null,"supply_in_addresses_balance_greater_10k_usd":null,"supply_in_addresses_balance_greater_10k_native_units":null,"supply_in_addresses_balance_greater_10m_usd":null,"supply_in_addresses_balance_greater_10_native_units":null,"supply_in_addresses_balance_greater_1k_usd":null,"supply_in_addresses_balance_greater_1k_native_units":null,"supply_in_addresses_balance_greater_1m_usd":null,"supply_in_addresses_balance_greater_1m_native_units":null,"supply_in_addresses_balance_greater_1_native_units":null,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":null,"supply_in_top_10_percent_addresses":null,"supply_in_top_1_percent_addresses":null,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Fri, 09 Jul 2021 16:10:40 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3956'
      X-Ratelimit-Reset:
      - '1625927962'
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: get
    uri: https://localhost:3333/validators/p2p-org.poolv1.near
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      Ratelimit-Reset:
      - '19'
      Quota-Remaining:
      - '99986'
      Quota-Limit:
      - '100000'
      X-Quota-Remaining-Day:
      - '99986'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '28159'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"account":{"name":"p2p-org.poolv1.near","start_height":28525845,"start_time":"2021-01-27T10:44:59.9786Z","last_height":42156775,"last_time":"2021-07-09T16:10:31.164639Z","balance":null,"staking_balance":"3723619879713315909949712103391"},"blocks":[{"id":42156775,"time":"2021-07-09T16:10:31.164639Z","producer":"staked.poolv1.near","hash":"NBV4i4WDduBacRC9yssfX8mJrGmUnUGaDc9BsYv1E4W","epoch":"3evjzofnMGxhq4s3w5hZaKCJhM1rCZpjNMrbNaNTw3EA","gas_price":"100000000","gas_allowed":0,"gas_used":0,"total_supply":"1035650273307446828064884323241457","chunks_count":1,"transactions_count":1,"approvals_count":57,"created_at":"2021-07-09T16:10:35.403153Z"},{"id":42156774,"time":"2021-07-09T16:10:30.099903Z","producer":"electric.poolv1.near","hash":"GtSJzjh841S6NFu6QBPw2HniKpCmGQfUNR1J6VRzg9hT","epoch":"3evjzofnMGxhq4s3w5hZaKCJhM1rCZpjNMrbNaNTw3EA","gas_price":"100000000","gas_allowed":0,"gas_used":0,"total_supply":"1035650273308016119974878023241457","chunks_count":1,"transactions_count":2,"approvals_count":57,"created_at":"2021-07-09T16:10:35.403153Z"},{"id":42156773,"time":"2021-07-09T16:10:29.087716Z","producer":"[...]
- request:
    method: get
    uri: http://localhost:2222/validator/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":326,"created_at":"2020-10-10T23:11:17.098518Z","updated_at":"2021-02-25T14:54:38.729868Z","started_at_height":1103957,"started_at":"2020-08-11T15:36:18Z","recent_at_height":3943160,"recent_at":"2021-02-25T14:54:06Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","recent_as_validator_height":3943160,"display_name":"\u0008Figment","uptime":0.9808612440191388,"last_session_sequences":[],"last_era_sequences":[{"id":55496,"era":261,"start_height":3826689,"end_height":3841080,"time":"2021-02-18T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","controller_account":"13pZ8dj3xK7zm7hsNVNLjQEuxxTZY7vWbbgdrDZiHPmp4Edc","session_accounts":null,"index":77,"total_stake":28002725721075696,"own_stake":1018249380627,"stakers_stake":28001707471695068,"reward_points":620,"commission":100000000,"stakers_count":12}],"delegations":[{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":10000000000},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":5712062253001297},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":18575999980000000}]}

'
  recorded_at: Fri, 09 Jul 2021 16:10:42 GMT
- request:
    method: get
    uri: http://localhost:2222/validator/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":484,"created_at":"2020-12-25T15:37:12.4891[...]
[...]
- request:
    method: get
    uri: http://localhost:2222/system_events/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":2939252,"time":"2020-12-17T15:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"joined_set","data":null},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joined","data":{"stash_accounts":["14V7eV9E45sPayXCzkLE4RwbTWgyv5HWALfZyS8bzhUu6Fny","15ALVm6h6ZSZ2BGsoqzqo95VzoANMmrv3fCFZLtueghPzxyg"]}},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_left","data":{"stash_accounts":["15qtQcxJ8Yg3t3gwG9SwXwdpi66RZ8odzjQ55XS1chjkd9UB","12zXNicmbyQ2mEBxwv8yHvzmvdJkWKrShEi2UUoqeyx9FbC6"]}},{"height":2979930,"time":"2020-12-20T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joine[...]
- request:
    method: get
    uri: http://localhost:2222/system_events/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":3054058,"time":"2020-12-25T15:36:18Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"joined_set","data":null},{"height":3054357,"time":"2020-12-25T16:06:12Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19732800000,"before":19607000000,"change":-0.6000000000000001}},{"height":3054639,"time":"2020-12-25T16:34:30Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19799800000,"before":19732800000,"change":-0.30000000000000004}},{"height":3055322,"time":"2020-12-25T17:42:48Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19831000000,"before":19799800000,"change":-0.2}},{"height":3056171,"time":"2020-12-25T19:07:54Z","act[...]
- request:
    method: get
    uri: http://localhost:2222/rewards/14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":163,"start_height":2420422,"end_height":2434734,"time":"2020-11-12T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4568144019","kind":"reward","claimed":true,"tx_hash":"0x10a85ae502ff9d59e5f357ce6b6e3e0318f6c3f871aae7fb5de7b1f4412316bc"},{"era":164,"start_height":2434734,"end_height":2449081,"time":"2020-11-13T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4039104970","kind":"reward","claimed":true,"tx_hash":"0x41cfa03f0e111b3fb34b6fe189a88573ac35ead0f4647b960fcf5d5b1ac1ccf5"},{"era":165,"start_height":2449081,"end_height":2463401,"time":"2020-[...]
