<div class="row my-3">
  <div class="col-6">
    <h3>ETH Staking: <%= title %></h3>
  </div>
  <div class="col-6 text-right">
    <%= link_to 'Customers', prime_admin_eth2_staking_customers_path, class: 'btn btn-primary' %>
    <%= link_to 'Staking Positions', prime_admin_eth2_staking_staking_positions_path, class: 'btn btn-primary' %>
    <%= link_to 'Validators', prime_admin_eth2_staking_validators_path, class: 'btn btn-primary' %>
  </div>
</div>
