<% content_for :body_class, 'events-index' %>
<% active_tab = params[:id] ? '' : 'Events' %>
<%= render partial: 'near/base/chain_header', locals: { active_tab: active_tab } %>
<div class='content'>
  <div class='container'>
    <%= render partial: 'near/events/sections/events' %>
  </div>
</div>
