<div class="data-block">
  <h3 class="data-block__title">Account Information</h3>
  <div class="row">
    <div class="col-md-12 col-lg-3 mb-3">
      <label class="text-label m-0">Wallet Balance</label>
      <div>
        <%= format_amount(account.wallet_balance, denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
      </div>
    </div>
    <div class="col-md-12 col-lg-3 mb-3">
      <label class="text-label m-0">Locked</label>
      <div>
        <%= format_amount(account.locked, denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
      </div>
    </div>
    <div class="col-md-12 col-lg-3 mb-3">
      <label class="text-label m-0">Available Balance</label>
      <div>
        <%= format_amount(account.amount, denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
      </div>
    </div>
    <div class="col-md-12 col-lg-3 mb-3">
      <label class="text-label m-0">Reserved for Storage</label>
      <div>
        <%= account.storage_usage %> Bytes
      </div>
    </div>
  </div>
</div>
