<div class='row mt-5'>
  <div class='col-12'>
    <h4>Prime Addresses</h4>
    <table id="prime_address_table" class="table table-pagination">
      <thead>
        <tr>
          <th>Network</th>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% if @user.prime_accounts.empty? -%>
          <tr>
            <td colspan=3>There is no prime account.</td>
          </tr>
        <% end -%>
        <% @user.prime_accounts.includes([:network]).each do |account| -%>
          <tr>
            <td><%= account.network.name.capitalize %></td>
            <td><%= account.name %></td>
            <td><%= link_to account.address, hubble_account_linker(account), class: 'link', style: 'font-size: 15px' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
