<div class='staking__mfa-banner'>
  <div class='alert alert-warning'>
    <h3>Multi-Factor Authentication is Required!</h3>
    <p>Before you can start using the Staking Management API, please enable MFA on your account.</p>
    <div class='cta'>
      <%= link_to 'Setup MFA on Your Account', prime_profile_path(anchor: 'mfa'), class: 'button button--primary' %>
    </div>
  </div>
</div>
