---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3974'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":1,"timestamp":"2021-08-26T14:12:08.645258634Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","contract_addresses":[],"_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":24.73251780925156,"price_btc":0.00052227220381195,"price_eth":0.007864330973689505,"volume_last_24_hours":1046762410.1205442,"real_volume_last_24_hours":790951678.8080567,"volume_last_24_hours_overstatement_multiple":1.3234214404829223,"percent_change_usd_last_1_hour":2.0218563051901675,"percent_change_btc_last_1_hour":1.152741586352534,"percent_change_eth_last_1_hour":0.6562809422016972,"percent_change_usd_last_24_hours":-4.668375252889404,"percent_change_btc_last_24_hours":-2.4354367797826595,"percent_change_eth_last_24_hours":-3.3367371873781937,"ohlcv_last_1_hour":{"open":24.3029057633904,"high":24.82714741640673,"low":24.205631732333796,"close":24.740449425296713,"volume":37856232.371057026},"ohlcv_last_24_hour":{"open":25.25879928206473,"high":26.563160991360444,"low":23.84664387952506,"close":24.73251780925156,"volume":1014579692.627308},"last_trade_at":"2021-08-26T14:12:02.03Z"},"marketcap":{"rank":9,"marketcap_dominance_percent":1.2014643702399415,"current_marketcap_usd":24444724016.6313,"y_2050_marketcap_usd":413438995124.68604,"y_plus10_marketcap_usd":71871040223.13255,"liquid_marketcap_usd":27727479737.49132,"volume_turnover_last_24_hours_percent":2.8439254686884006,"realized_marketcap_usd":19806039121.991886,"outstanding_marketcap_usd":28309830230.944664},"supply":{"y_2050":16703146221,"y_plus10":2903626673,"liquid":1120204320,"circulating":987579314.957085,"y_2050_issued_percent":6.706546809676042,"annual_inflation_percent":9.99282425548939,"stock_to_flow":10.007180897339074,"y_plus10_issued_percent":38.5794885553457,"supply_revived_90d":1087455894.5894575},"blockchain_stats_24_hours":{"count_of_active_addresses":25663,"transaction_volume":165434330.62544557,"adjusted_transaction_volume":135380598.8040513,"adjusted_nvt":209.112904515366,"median_tx_value":3.899268448153755,"median_tx_fee":null,"count_of_tx":136210,"count_of_payments":41855,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_type":"Run
        a Validator Node","staking_yield_percent":14.147644568559292,"real_staking_yield_percent":5.620127121787348,"staking_minimum":null,"tokens_staked":663875505.1840355,"tokens_staked_percent":60.27517446771942,"staking_engaged_balance":663875505.1840355,"staked_total_percent":60.27517446771942,"staking_options":[{"name":"Delegate
        Polkadot","reward":13.428240814874856,"adjusted_reward":4.900723368102913},{"name":"Lend
        Polkadot","reward":4.5,"adjusted_reward":4.5},{"name":"Run a Validator Node","reward":14.147644568559292,"adjusted_reward":5.620127121787348}]},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-8.188339818597456,"percent_change_last_1_month":69.75259402759404,"percent_change_last_3_months":14.26757641881096,"percent_change_last_1_year":301.45542146927784,"percent_change_btc_last_1_week":-8.788136442209932,"percent_change_btc_last_1_month":42.32388808146027,"percent_change_btc_last_3_months":-13.2121114229432,"percent_change_btc_last_1_year":-2.2339503123808746,"percent_change_eth_last_1_week":-5.8796984125320435,"percent_change_eth_last_1_month":25.693871642556555,"percent_change_eth_last_3_months":-11.22073436904272,"percent_change_eth_last_1_year":-50.131552187811714,"percent_change_month_to_date":32.430128449634296,"percent_change_quarter_to_date":60.761075656028105,"percent_change_year_to_date":194.10554467168404},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":8.541930587833562,"last_90_days":0.9440738371222741,"last_1_year":1.7109917642679997,"last_3_years":1.3668173369140366},"volatility_stats":{"volatility_last_30_days":0.9401519990289968,"volatility_last_90_days":1.2355422186700824,"volatility_last_1_year":1.4707366637564827,"volatility_last_3_years":1.8420658898148103}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":["Polkadot Ecosystem"]},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"addresses_count":453198,"active_addresses":25663,"active_addresses_received_count":23974,"active_addresses_sent_count":5458,"addresses_balance_greater_0_001_native_units_count":453198,"addresses_balance_greater_0_01_native_units_count":453198,"addresses_balance_greater_0_1_native_units_count":453198,"addresses_balance_greater_1_usd_count":453198,"addresses_balance_greater_1_native_units_count":453198,"addresses_balance_greater_10_usd_count":453198,"addresses_balance_greater_10_native_units_count":190022,"addresses_balance_greater_100_usd_count":277706,"addresses_balance_greater_100_native_units_count":56559,"addresses_balance_greater_100k_usd_count":4795,"addresses_balance_greater_100k_native_units_count":794,"addresses_balance_greater_10k_usd_count":22127,"addresses_balance_greater_10k_native_units_count":2775,"addresses_balance_greater_10m_usd_count":297,"addresses_balance_greater_1k_usd_count":95568,"addresses_balance_greater_1k_native_units_count":11962,"addresses_balance_greater_1m_usd_count":1295,"addresses_balance_greater_1m_native_units_count":162,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":6709214.708673839,"issuance_total_native_units":257718.7861423003,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":19806039121.991886,"adjusted_nvt":209.112904515366,"adjusted_nvt_90d_moving_average":158.5249363617399,"adjusted_rvt":146.298947537224,"adjusted_rvt_90d_moving_average":110.90674390409882,"txn_count_last_24_hours":136210,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":1.57650462963,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":41855,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":165434330.62544557,"adjusted_txn_volume_last_24_hours_usd":135380598.8040513,"adjusted_txn_volume_last_24_hours_native_units":5200328.966352953,"txn_volume_last_24_hours_native_units":6354772.760504076,"average_transfer_value_usd":3952.5583711735276,"average_transfer_value_native_units":151.8282824156,"median_transfer_value_usd":3.899268448153755,"median_transfer_value_native_units":0.1497812747,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":812456278.2157986,"supply_active_180d":719508558.4478099,"supply_active_1d":122697223.66367553,"supply_active_1y":811841899.5578474,"supply_active_1y_percent":74.6551564617,"supply_active_2y":812456278.2157986,"supply_active_30d":305674794.3076966,"supply_active_3y":812456278.2157986,"supply_active_4y":812456278.2157986,"supply_active_5y":812456278.2157986,"supply_active_7d":189671966.63772586,"supply_active_90d":553814358.3535805,"supply_active_ever":812456278.2157986,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":1087455894.5894575,"supply_in_addresses_balance_greater_0_01_native_units":1087455894.5894575,"supply_in_addresses_balance_greater_0_1_native_units":1087455894.5894575,"supply_in_addresses_balance_greater_1_usd":1087455894.5894575,"supply_in_addresses_balance_greater_10_usd":1087455894.5894575,"supply_in_addresses_balance_greater_100_usd":1087155183.9665408,"supply_in_addresses_balance_greater_100k_usd":1057006760.5100837,"supply_in_addresses_balance_greater_100k_native_units":987382098.2390522,"supply_in_addresses_balance_greater_100_native_units":1082399923.3372002,"supply_in_addresses_balance_greater_10k_usd":1075997299.7449577,"supply_in_addresses_balance_greater_10k_native_units":1044883562.267905,"supply_in_addresses_balance_greater_10m_usd":896724868.6178272,"supply_in_addresses_balance_greater_10_native_units":1086588224.4103973,"supply_in_addresses_balance_greater_1k_usd":1084837445.683521,"supply_in_addresses_balance_greater_1k_native_units":1069881854.035361,"supply_in_addresses_balance_greater_1m_usd":1018565064.9950787,"supply_in_addresses_balance_greater_1m_native_units":811795892.6126119,"supply_in_addresses_balance_greater_1_native_units":1087455894.5894575,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":724868932.8108115,"supply_in_top_10_percent_addresses":1081148852.662445,"supply_in_top_1_percent_addresses":1055940898.7080946,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Wed, 11 Aug 2021 20:28:26 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/rose/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3973'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"st[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3972'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"st[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/cosmos/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3971'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/terra/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3970'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"s[...]
- request:
    method: get
    uri: http://localhost:8081/rewards/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":148,"start_height":2205798,"end_height":2220176,"time":"2020-10-28T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","validator_stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":"1151120211592","kind":"commission_and_reward","claimed":true,"tx_hash":"0x3a31daa107195741c2c7ff59069047a675d08889f29f1165c1762e6c9d0ace6b"},{"era":149,"start_height":2220176,"end_height":2234552,"time":"2020-10-29T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","validator_stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":"1243788813749","kind":"commission_and_reward","claimed":true,"tx_hash":"0x06ccab70833c677894887c0b8885571385c3fef40c5d2f640aa33b4001c8889f"},{"era":150,"start_height":2234552,"end_height":224[...]
- request:
    method: get
    uri: https://localhost:1111/balance/oasis1qzkdwhw4hnu2pl49c6kpm8znh83uagvh9q7l8m2w?end&start
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Reset:
      - '46'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      X-Concurrent-Quota-Limit:
      - '500'
      X-Concurrent-Quota-Remaining:
      - '499'
      Quota-Limit:
      - '10000000'
      X-Quota-Remaining-Day:
      - '9999968'
      X-Quota-Limit-Day:
      - '10000000'
      Quota-Reset:
      - '35266'
      Quota-Remaining:
      - '9999968'
    body:
      encoding: UTF-8
      string: '[{"id":126007,"created_at":"2021-03-11T14:16:00.402914Z","updated_at":"2021-03-12T00:32:38.880154Z","index_version":4,"time_interval":"day","time_bucket":"2021-03-11T00:00:00Z","start_height":2326267,"address":"oasis1qzkdwhw4hnu2pl49c6kpm8znh83uagvh9q7l8m2w","escrow_address":"oasis1qpn83e8hm3gdhvpfv66xj3qsetkj3ulmkugmmxn3","total_rewards":4834715945,"total_commission":0,"total_slashed":0},{"id":127549,"created_at":"2021-03-12T00:32:46.346166Z","updated_at":"2021-03-13T00:09:39.581337Z","index_version":4,"time_interval":"day","time_bucket":"2021-03-12T00:00:00Z","start_height":2340289,"address":"oasis1qzkdwhw4hnu2pl49c6kpm8znh83uagvh9q7l8m2w","escrow_address":"oasis1qpn83e8hm3gdhvpfv66xj3qsetkj3ulmkugmmxn3","total_rewards":11123474567,"total_commission":0,"total_slashed":0},{"id":129291,"created_at":"2021-03-13T00:09:47.682078Z","updated_at":"2021-03-14T00:45:58.877792Z","index[...]
- request:
    method: get
    uri: https://localhost:3333/delegators/figment.near/rewards?from=2021-05-13&interval=daily&to=2021-08-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Reset:
      - '44'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
      Quota-Limit:
      - '100000'
      X-Quota-Remaining-Day:
      - '99941'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '35264'
      Quota-Remaining:
      - '99941'
    body:
      encoding: UTF-8
      string: '[{"interval":"2021-06-22","validator":"figment.poolv1.near","amount":"175318891792053565115550454"},{"interval":"2021-06-24","validator":"figment.poolv1.near","amount":"357360257236782080815929533"},{"interval":"2021-06-25","validator":"figment.poolv1.near","amount":"88987109819772932903628048"},{"interval":"2021-06-27","validator":"figment.poolv1.near","amount":"88564774096209113428964409"},{"interval":"2021-06-28","validator":"figment.poolv1.near","amount":"88964982182318842310001839"},{"interval":"2021-06-30","validator":"figment[...]
- request:
    method: get
    uri: https://localhost:3333/delegators/582d15d089225c0595b14ac4359dc854466dacc271304d14ab2d5c15491f4cf4/rewards?from=2021-05-13&interval=daily&to=2021-08-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1998'
      X-Ratelimit-Remaining-Minute:
      - '1998'
      Ratelimit-Reset:
      - '44'
      X-Ratelimit-Limit-Minute:
      - '2000'
      X-Concurrent-Quota-Remaining:
      - '4'
      X-Concurrent-Quota-Limit:
      - '5'
      Quota-Remaining:
      - '99940'
      Quota-Limit:
      - '100000'
      X-Quota-Remaining-Day:
      - '99940'
      X-Quota-Limit-Day:
      - '100000'
      Quota-Reset:
      - '35264'
    body:
      encoding: UTF-8
      string: '{"error":"account is not found","status":404}'
  recorded_at: Wed, 11 Aug 2021 20:28:26 GMT
- request:
    method: get
    uri: https://localhost:4444/rewards?account=cosmos1lr0rtlsse60slsljas2y2f3ew7skm26yd9wvf8&chain_id=cosmoshub-4&end_time=2021-08-11T20:28:26Z&network=cosmos&start_time=2021-05-13T20:28:26Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Reset:
      - '43'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      X-Concurrent-Quota-Limit:
      - '500'
      X-Concurrent-Quota-Remaining:
      - '497'
      Quota-Limit:
      - '2500000'
      X-Quota-Remaining-Day:
      - '2318158'
      X-Quota-Remaining-Month:
      - '67136264'
      X-Quota-Limit-Month:
      - '75000000'
      Quota-Reset:
      - '35263'
      Quota-Remaining:
      - '2318158'
      X-Quota-Limit-Day:
      - '2500000'
    body:
      encoding: UTF-8
      string: '[{"start":6206248,"end":6218013,"time":"2021-05-13T20:28:26Z","validator":"cosmosvaloper1sjllsnramtg3ewxqwwrwjxfgc4n4ef9u2lcnj0","rewards":[{"text":"6294.176916743911075472uatom","currency":"uatom","numeric":6294176916743911075472,"exp":18}]},{"start":6206248,"end":6218013,"time":"2021-05-13T20:28:26Z","validator":"cosmosvaloper1qaa9zej9a0ge3ugpx3pxyx602lxh3ztqgfnp42","rewards":[{"text":"3855.27288901836833033uatom","currency":"uatom","numeric":3855272889018368330330,"exp":18}]},{"start":6206248,"end":6218013,"time":"2021-05-13T20:28:26Z","validator":"cosmosvaloper1qs8tnw2t8l6amtzvdemnnsq9dzk0ag0z52uzay","rewards":[{"text":"2389.582154967269236744uatom","currency":"uatom","numeric":2389582154967269236744,"exp":18}]},{"start":62[...]
- request:
    method: get
    uri: https://localhost:5555/rewards?account=terra18npmlvy8aedc6rzyhm6gkwdyd070cquatlmqtc&chain_id=columbus-4&end_time=2021-08-11T20:28:26Z&network=terra&start_time=2021-05-13T20:28:26Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Ratelimit-Limit-Minute:
[...]
[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/cosmos/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3969'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":172,"timestamp":"2021-08-26T14:12:48.072226734Z"},"data":{"id":"3385649f-7e22-4260-9995-309f05650e47","symbol":"ATOM","name":"Cosmos","slug":"cosmos","contract_addresses":[],"_internal_temp_agora_id":"eb97a2be-c1f8-4544-b2d4-623e17bffef3","parameters":{"asset_key":"cosmos","asset_id":"3385649f-7e22-4260-9995-309f05650e47","start":"2020-12-13T14:12:47.899311725Z","end":"2021-08-26T14:12:47.899311725Z","interval":"1d","order":"ascending","format":"json","timestamp_format":"unix-milliseconds","columns":["timestamp","open","high","low","close","volume"]},"schema":{"metric_id":"price","description":"Volume
        weighted average price computed using Messari Methodology","values_schema":{"timestamp":"Timestamp
        in milliseconds since the epoch (1 January 1970 00:00:00 UTC)","open":"The
        price of the asset at the beginning of the specified interval in US dollars.","high":"The
        highest price of the asset during the specified interval in US dollars.","low":"The
        lowest price of the asset during the specified interval in US dollars","close":"The
        price of the asset at the end of the specified interval in US dollars.","volume":"The
        total volume traded during the specified interval across all Messari method
        markets in US dollars"},"minimum_interval":"1m","source_attribution":[{"name":"Kaiko","url":"https://www.kaiko.com/"}]},"values":[[1607904000000,5.192,5.3244240071298785,5.031840575351486,5.226947881102044,24858975.52965545],[1607990400000,5.227880363150879,5.361637160883666,5.057049692513391,5.291847148370868,24955255.06935712],[1608076800000,5.292228221514915,5.511061891381683,5.152623080826015,5.494334355800465,57526727.86465422],[1608163200000,5.492490108330934,5.737696170932,5.273271857172954,5.358270350838946,49648730.779851735],[1608249600000,5.3576823577173585,5.449170756411255,5.201392020611608,5.334929108421449,[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3968'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encod[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/rose/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3967'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      encod[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3966'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      e[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/terra/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3965'
      X-Ratelimit-Reset:
      - '1630072870'
    body:
      enco[...]
[...]
