---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3965'
      X-Ratelimit-Reset:
      - '1626194819'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":4,"timestamp":"2021-07-13T13:30:47.180008116Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","contract_addresses":[],"_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":14.243829610580617,"price_btc":0.00043817410533681566,"price_eth":0.007263547032206169,"volume_last_24_hours":684443570.2190557,"real_volume_last_24_hours":262894437.2575048,"volume_last_24_hours_overstatement_multiple":2.603492022726384,"percent_change_usd_last_1_hour":-1.5758390242479097,"percent_change_btc_last_1_hour":-0.7008585915444264,"percent_change_eth_last_1_hour":-0.9961380768266704,"percent_change_usd_last_24_hours":-5.894679653595544,"percent_change_btc_last_24_hours":-3.3051819021386737,"percent_change_eth_last_24_hours":0.6769330545489411,"ohlcv_last_1_hour":{"open":14.503758072983286,"high":14.525277378130644,"low":14.135362145381462,"close":14.250409215789086,"volume":35870160.27763838},"ohlcv_last_24_hour":{"open":15.131731680824085,"high":15.218378787385499,"low":14.128081111289243,"close":14.243829610580612,"volume":358733328.36247146},"last_trade_at":"2021-07-13T13:30:45.9Z"},"marketcap":{"rank":9,"marketcap_dominance_percent":1.0362427601271085,"current_marketcap_usd":13973079038.479624,"y_2050_marketcap_usd":239423994286.33374,"y_plus10_marketcap_usd":41145635859.44246,"liquid_marketcap_usd":15873775868.248604,"volume_turnover_last_24_hours_percent":1.6561556584867583,"realized_marketcap_usd":17958104593.318897,"outstanding_marketcap_usd":15983648923.809704},"supply":{"y_2050":16703146221,"y_plus10":2870479102,"liquid":1107416156,"circulating":974816175.0997792,"y_2050_issued_percent":6.629985401239577,"annual_inflation_percent":9.992824323577956,"stock_to_flow":10.007180829152688,"y_plus10_issued_percent":38.57948853306092,"supply_revived_90d":1074428792.5592983},"blockchain_stats_24_hours":{"count_of_active_addresses":19311,"transaction_volume":331654302.4924168,"adjusted_transaction_volume":313452955.08399814,"adjusted_nvt":50.992178138906,"median_tx_value":2.3481717309697645,"median_tx_fee":null,"count_of_tx":103694,"count_of_payments":32940,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":5,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":-4.539227312583605},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-10.418516364299435,"percent_change_last_1_month":-34.42607224918231,"percent_change_last_3_months":-65.98256450188029,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":-6.284084640258358,"percent_change_btc_last_1_month":-21.783832243785646,"percent_change_btc_last_3_months":-34.472333432892256,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":4.684913881730505,"percent_change_eth_last_1_month":-17.200892543391046,"percent_change_eth_last_3_months":-58.362424525296184,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":-4.774199650800457,"percent_change_quarter_to_date":-4.774199650800457,"percent_change_year_to_date":74.29309879077567},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":-2.1084488830839896,"last_90_days":-1.3799496916894958,"last_1_year":0.917444109222146,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":1.373249354494421,"volatility_last_90_days":1.7820443329015268,"volatility_last_1_year":1.954780597286812,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":["Polkadot Ecosystem"]},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"addresses_count":393298,"active_addresses":19311,"active_addresses_received_count":18403,"active_addresses_sent_count":4077,"addresses_balance_greater_0_001_native_units_count":393298,"addresses_balance_greater_0_01_native_units_count":393298,"addresses_balance_greater_0_1_native_units_count":393298,"addresses_balance_greater_1_usd_count":393298,"addresses_balance_greater_1_native_units_count":393298,"addresses_balance_greater_10_usd_count":393298,"addresses_balance_greater_10_native_units_count":164508,"addresses_balance_greater_100_usd_count":195866,"addresses_balance_greater_100_native_units_count":49314,"addresses_balance_greater_100k_usd_count":3205,"addresses_balance_greater_100k_native_units_count":777,"addresses_balance_greater_10k_usd_count":13460,"addresses_balance_greater_10k_native_units_count":2665,"addresses_balance_greater_10m_usd_count":204,"addresses_balance_greater_1k_usd_count":60791,"addresses_balance_greater_1k_native_units_count":10769,"addresses_balance_greater_1m_usd_count":941,"addresses_balance_greater_1m_native_units_count":160,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":2990326.638058697,"issuance_total_native_units":201011.2368209798,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":17958104593.318897,"adjusted_nvt":50.992178138906,"adjusted_nvt_90d_moving_average":51.82724949034997,"adjusted_rvt":57.291227605452,"adjusted_rvt_90d_moving_average":58.22945508677384,"txn_count_last_24_hours":103694,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":1.200162037037,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":32940,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":331654302.4924168,"adjusted_txn_volume_last_24_hours_usd":313452955.08399814,"adjusted_txn_volume_last_24_hours_native_units":21070462.79985308,"txn_volume_last_24_hours_native_units":22293966.382307794,"average_transfer_value_usd":10068.436626970779,"average_transfer_value_native_units":676.8052939377,"median_transfer_value_usd":2.3481717309697645,"median_transfer_value_native_units":0.1578452661,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":null,"supply_active_180d":757371525.2492388,"supply_active_1d":187046365.84427452,"supply_active_1y":800048662.0267029,"supply_active_1y_percent":74.4626975345,"supply_active_2y":800061036.5844029,"supply_active_30d":441797763.2477071,"supply_active_3y":800061036.5844029,"supply_active_4y":800061036.5844029,"supply_active_5y":800061036.5844029,"supply_active_7d":260147991.95076904,"supply_active_90d":665760469.3005333,"supply_active_ever":800061036.5844029,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":1074428792.5592983,"supply_in_addresses_balance_greater_0_01_native_units":1074428792.5592983,"supply_in_addresses_balance_greater_0_1_native_units":1074428792.5592983,"supply_in_addresses_balance_greater_1_usd":1074428792.5592983,"supply_in_addresses_balance_greater_10_usd":1074428792.5592983,"supply_in_addresses_balance_greater_100_usd":1073935727.389896,"supply_in_addresses_balance_greater_100k_usd":1041345847.802104,"supply_in_addresses_balance_greater_100k_native_units":982164507.7300309,"supply_in_addresses_balance_greater_100_native_units":1070113717.3506091,"supply_in_addresses_balance_greater_10k_usd":1061476871.3162609,"supply_in_addresses_balance_greater_10k_native_units":1036945213.8212305,"supply_in_addresses_balance_greater_10m_usd":856258891.4166164,"supply_in_addresses_balance_greater_10_native_units":1073670328.3235672,"supply_in_addresses_balance_greater_1k_usd":1071071452.1964736,"supply_in_addresses_balance_greater_1k_native_units":1059271313.7368679,"supply_in_addresses_balance_greater_1m_usd":995606712.4616512,"supply_in_addresses_balance_greater_1m_native_units":819769443.9467702,"supply_in_addresses_balance_greater_1_native_units":1074428792.5592983,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":735974206.5838711,"supply_in_top_10_percent_addresses":1068993402.4220767,"supply_in_top_1_percent_addresses":1045454112.2487512,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Tue, 13 Jul 2021 13:30:47 GMT
- request:
    method: get
    uri: http://localhost:8081/rewards/14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":163,"start_height":2420422,"end_height":2434734,"time":"2020-11-12T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4568144019","kind":"reward","claimed":true,"tx_hash":"0x10a85ae502ff9d59e5f357ce6b6e3e0318f6c3f871aae7fb5de7b1f4412316bc"},{"era":164,"start_height":2434734,"end_height":2449081,"time":"2020-11-13T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4039104970","kind":"reward","claimed":true,"tx_hash":"0x41cfa03f0e111b3fb34b6fe189a88573ac35ead0f4647b960fcf5d5b1ac1ccf5"},{"era":165,"start_height":2449081,"end_height":2463401,"time":"2020-[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3964'
      X-Ratelimit-Reset:
      - '1626194819'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":48,"timestamp":"2021-07-13T13:30:47.887123817Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","contract_addresses":[],"_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","parameters":{"asset_key":"polkadot","asset_id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","start":"2020-10-30T13:30:47.838615116Z","end":"2021-07-13T13:30:47.838615116Z","interval":"1d","order":"ascending","format":"json","timestamp_format":"unix-milliseconds","columns":["timestamp","open","high","low","close","volume"]},"schema":{"metric_id":"price","description":"Volume
        weighted average price computed using Messari Methodology","values_schema":{"timestamp":"Time
        in milliseconds since the epoch (1 January 1970 00:00:00 UTC)","open":"The
        price of the asset at the beginning of the specified interval in US dollars.","high":"The
        highest price of the asset during the specified interval in US dollars.","low":"The
        highest price of the asset during the specified interval in US dollars","close":"The
        price of the asset at the end of the specified interval in US dollars.","volume":"The
        total volume traded during the specified interval across all Messari method
        markets in US dollars"},"minimum_interval":"1m","source_attribution":[{"name":"Kaiko","url":"https://www.kaiko.com/"}]},"values":[[1604102400000,4.088328941752817,4.278090079623423,4.0619088202521985,4.176039426389545,39082649.03923937],[1604188800000,4.150907391525045,4.227537837632711,4.06122831698924,4.2110829116223885,28575117.33451016],[1604275200000,4.202191535173572,4.264977929787951,3.9271827421512766,4.021440362945327,57387078.28690381],[1604361600000,4.006565675599088,4.168216009581538,3.861049921434581,4.031886749908894,53442573.38145644],[1604448000000,4.018006759968949,4.614055484290146,3.879983865907416,4.09[...]
[...]
