---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3973'
      X-Ratelimit-Reset:
      - '1626878767'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":1,"timestamp":"2021-07-20T14:54:12.078370374Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","contract_addresses":[],"_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":10.857949653915828,"price_btc":0.00036531050387436263,"price_eth":0.0061615678801381175,"volume_last_24_hours":934747657.0402513,"real_volume_last_24_hours":386579561.6894626,"volume_last_24_hours_overstatement_multiple":2.417995542638463,"percent_change_usd_last_1_hour":1.5661925265801804,"percent_change_btc_last_1_hour":1.0029060704093087,"percent_change_eth_last_1_hour":0.6333746900474014,"percent_change_usd_last_24_hours":-5.605354875192509,"percent_change_btc_last_24_hours":-2.5827471156251565,"percent_change_eth_last_24_hours":-2.239646192081274,"ohlcv_last_1_hour":{"open":10.676855316099122,"high":10.933977631646373,"low":10.631088006124816,"close":10.8592915309136,"volume":22647487.88963081},"ohlcv_last_24_hour":{"open":11.407226329338743,"high":11.68356911618313,"low":10.379120506173898,"close":10.85794965391583,"volume":416872047.24245346},"last_trade_at":"2021-07-20T14:54:10.885Z"},"marketcap":{"rank":10,"marketcap_dominance_percent":0.8776550900058095,"current_marketcap_usd":10607342796.082504,"y_2050_marketcap_usd":181393584066.62256,"y_plus10_marketcap_usd":31229952042.64768,"liquid_marketcap_usd":12048355767.11565,"volume_turnover_last_24_hours_percent":3.209050517489426,"realized_marketcap_usd":17424607519.678467,"outstanding_marketcap_usd":12386974523.85244},"supply":{"y_2050":16703146221,"y_plus10":2875727155,"liquid":1109440828,"circulating":976748977.3737727,"y_2050_issued_percent":6.642106902022792,"annual_inflation_percent":9.992824331141344,"stock_to_flow":10.007180821578434,"y_plus10_issued_percent":38.57948853287509,"supply_revived_90d":1076107148.0116642},"blockchain_stats_24_hours":{"count_of_active_addresses":23912,"transaction_volume":121827204.8468251,"adjusted_transaction_volume":100260428.10550104,"adjusted_nvt":123.54799154476,"median_tx_value":1.564953297800382,"median_tx_fee":null,"count_of_tx":150336,"count_of_payments":43780,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":5,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":-4.539227319147732},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"hash_rate":null,"hash_rate_30d_average":null,"mining_revenue_per_hash_usd":null,"mining_revenue_per_hash_native_units":null,"mining_revenue_per_hash_per_second_usd":null,"mining_revenue_per_hash_per_second_native_units":null,"mining_revenue_from_fees_percent_last_24_hours":null,"mining_revenue_native":null,"mining_revenue_usd":null,"mining_revenue_total":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-23.55768797656789,"percent_change_last_1_month":-47.37231773585755,"percent_change_last_3_months":-67.89794805398509,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":-15.508700270320444,"percent_change_btc_last_1_month":-36.74118736119993,"percent_change_btc_last_3_months":-41.67385297942224,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":-15.61052322698942,"percent_change_eth_last_1_month":-32.84285415123535,"percent_change_eth_last_3_months":-56.94725808784049,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":-28.533319587504174,"percent_change_quarter_to_date":-28.533319587504174,"percent_change_year_to_date":30.806453122014982},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":-4.876412590324104,"last_90_days":-1.5593411286194412,"last_1_year":0.7585383618139552,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":1.2311228827196508,"volatility_last_90_days":1.7825344619448982,"volatility_last_1_year":1.9413045247197123,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":["Polkadot Ecosystem"]},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"addresses_count":401549,"active_addresses":23912,"active_addresses_received_count":22455,"active_addresses_sent_count":5402,"addresses_balance_greater_0_001_native_units_count":401549,"addresses_balance_greater_0_01_native_units_count":401549,"addresses_balance_greater_0_1_native_units_count":401549,"addresses_balance_greater_1_usd_count":401549,"addresses_balance_greater_1_native_units_count":401549,"addresses_balance_greater_10_usd_count":401549,"addresses_balance_greater_10_native_units_count":169904,"addresses_balance_greater_100_usd_count":184188,"addresses_balance_greater_100_native_units_count":51026,"addresses_balance_greater_100k_usd_count":2870,"addresses_balance_greater_100k_native_units_count":776,"addresses_balance_greater_10k_usd_count":11920,"addresses_balance_greater_10k_native_units_count":2698,"addresses_balance_greater_10m_usd_count":176,"addresses_balance_greater_1k_usd_count":55651,"addresses_balance_greater_1k_native_units_count":11013,"addresses_balance_greater_1m_usd_count":841,"addresses_balance_greater_1m_native_units_count":159,"average_block_gas_limit":null,"block_height":null,"average_block_interval":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null,"uncle_blocks_count_last_24_hours":null,"uncle_rewards_last_24_hours_usd":null,"uncle_rewards_last_24_hours_native_units":null,"mining_revenue_from_uncle_blocks_percent_last_24_hours":null,"block_weight":null,"average_block_weight":null,"total_fees_last_24_hours":null,"total_fees_last_24_hours_usd":null,"hash_rate":null,"issuance_last_24_hours_native_units":null,"issuance_rate_daily":null,"issuance_total_usd":5370766.765769915,"issuance_total_native_units":466580.4790200714,"new_issuance":null,"issuance_rate":null,"realized_marketcap_usd":17424607519.678467,"adjusted_nvt":123.54799154476,"adjusted_nvt_90d_moving_average":47.033333567657344,"adjusted_rvt":173.793468160171,"adjusted_rvt_90d_moving_average":66.1612225148636,"txn_count_last_24_hours":150336,"txn_contracts_calls_count_last_24_hours":null,"txn_contracts_calls_success_count_last_24_hours":null,"txn_contracts_creation_count_last_24_hours":null,"txn_contracts_destruction_count_last_24_hours":null,"txn_contracts_count_last_24_hours":null,"txn_erc20_count_last_24_hours":null,"txn_erc721_count_last_24_hours":null,"txn_per_second_count":1.74,"txn_token_count_last_24_hours":null,"average_fee_usd":null,"average_fee_native_units":null,"median_fee_usd":null,"median_fee_native_units":null,"average_txn_gas_used":null,"txn_gas_limit_last_24_hours":null,"average_txn_gas_limit":null,"txn_gas_used_last_24_hours":null,"transfer_count_last_24_hours":43780,"transfer_erc_20_count_last_24_hours":null,"transfer_erc721_count_last_24_hours":null,"txn_volume_last_24_hours_usd":121827204.8468251,"adjusted_txn_volume_last_24_hours_usd":100260428.10550104,"adjusted_txn_volume_last_24_hours_native_units":8710033.52265589,"txn_volume_last_24_hours_native_units":10583627.640914608,"average_transfer_value_usd":2782.7136785481516,"average_transfer_value_native_units":241.7457204412,"median_transfer_value_usd":1.564953297800382,"median_transfer_value_native_units":0.13595389470000002,"average_utxo_age":null,"value_weighted_average_utxo_age":null,"median_utxo_age":null,"utxo_count_last_24_hours":null,"utxo_in_loss_count":null,"utxo_in_profit_count":null},"exchange_flows":{"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_in_binance_usd":null,"flow_in_binance_native_units":null,"flow_in_bitfinex_usd":null,"flow_in_bitfinex_native_units":null,"flow_in_bitmex_usd":null,"flow_in_bitmex_native_units":null,"flow_in_bitstamp_usd":null,"flow_in_bitstamp_native_units":null,"flow_in_bittrex_usd":null,"flow_in_bittrex_native_units":null,"flow_in_gemini_usd":null,"flow_in_gemini_native_units":null,"flow_in_huobi_usd":null,"flow_in_huobi_native_units":null,"flow_in_kraken_usd":null,"flow_in_kraken_native_units":null,"flow_in_poloniex_usd":null,"flow_in_poloniex_native_units":null,"flow_net_binance_usd":null,"flow_net_binance_native_units":null,"flow_net_bitfinex_usd":null,"flow_net_bitfinex_native_units":null,"flow_net_bitmex_usd":null,"flow_net_bitmex_native_units":null,"flow_net_bitstamp_usd":null,"flow_net_bitstamp_native_units":null,"flow_net_bittrex_usd":null,"flow_net_bittrex_native_units":null,"flow_net_gemini_usd":null,"flow_net_gemini_native_units":null,"flow_net_huobi_usd":null,"flow_net_huobi_native_units":null,"flow_net_kraken_usd":null,"flow_net_kraken_native_units":null,"flow_net_poloniex_usd":null,"flow_net_poloniex_native_units":null,"flow_out_binance_usd":null,"flow_out_binance_native_units":null,"flow_out_bitfinex_usd":null,"flow_out_bitfinex_native_units":null,"flow_out_bitmex_usd":null,"flow_out_bitmex_native_units":null,"flow_out_bitstamp_usd":null,"flow_out_bitstamp_native_units":null,"flow_out_bittrex_usd":null,"flow_out_bittrex_native_units":null,"flow_out_gemini_usd":null,"flow_out_gemini_native_units":null,"flow_out_huobi_usd":null,"flow_out_huobi_native_units":null,"flow_out_kraken_usd":null,"flow_out_kraken_native_units":null,"flow_out_poloniex_usd":null,"flow_out_poloniex_native_units":null,"supply_exchange_native_units":null,"supply_exchange_usd":null,"supply_binance_usd":null,"supply_binance_native_units":null,"supply_bitfinex_usd":null,"supply_bitfinex_native_units":null,"supply_bitmex_usd":null,"supply_bitmex_native_units":null,"supply_bitstamp_usd":null,"supply_bitstamp_native_units":null,"supply_bittrex_usd":null,"supply_bittrex_native_units":null,"supply_gemini_usd":null,"supply_gemini_native_units":null,"supply_huobi_usd":null,"supply_huobi_native_units":null,"supply_kraken_usd":null,"supply_kraken_native_units":null,"supply_poloniex_usd":null,"supply_poloniex_native_units":null},"miner_flows":{"supply_1hop_miners_usd":null,"supply_1hop_miners_native_units":null,"supply_miners_usd":null,"supply_miners_native_units":null},"supply_activity":{"supply_active_10y":null,"supply_active_180d":748831890.5562817,"supply_active_1d":118658991.02148312,"supply_active_1y":801541070.1712536,"supply_active_1y_percent":74.4852472779,"supply_active_2y":801553958.5886536,"supply_active_30d":331985327.8272214,"supply_active_3y":801553958.5886536,"supply_active_4y":801553958.5886536,"supply_active_5y":801553958.5886536,"supply_active_7d":217445094.1442346,"supply_active_90d":636716327.5101503,"supply_active_ever":801553958.5886536,"outstanding":null,"supply_revived_1y":null,"supply_revived_2y":null,"supply_revived_30d":null,"supply_revived_3y":null,"supply_revived_4y":null,"supply_revived_5y":null,"supply_revived_7d":null,"supply_revived_90d":null},"supply_distribution":{"supply_in_addresses_balance_greater_0_001_native_units":1076107148.0116642,"supply_in_addresses_balance_greater_0_01_native_units":1076107148.0116642,"supply_in_addresses_balance_greater_0_1_native_units":1076107148.0116642,"supply_in_addresses_balance_greater_1_usd":1076107148.0116642,"supply_in_addresses_balance_greater_10_usd":1076107148.0116642,"supply_in_addresses_balance_greater_100_usd":1075471765.106442,"supply_in_addresses_balance_greater_100k_usd":1039119825.0664752,"supply_in_addresses_balance_greater_100k_native_units":981098128.1234828,"supply_in_addresses_balance_greater_100_native_units":1071638411.5333542,"supply_in_addresses_balance_greater_10k_usd":1061250635.5122269,"supply_in_addresses_balance_greater_10k_native_units":1037522092.6194087,"supply_in_addresses_balance_greater_10m_usd":831764342.3661596,"supply_in_addresses_balance_greater_10_native_units":1075336097.2093759,"supply_in_addresses_balance_greater_1k_usd":1072076575.616425,"supply_in_addresses_balance_greater_1k_native_units":1060399577.6204894,"supply_in_addresses_balance_greater_1m_usd":987067713.6287801,"supply_in_addresses_balance_greater_1m_native_units":815836945.9719152,"supply_in_addresses_balance_greater_1_native_units":1076107148.0116642,"supply_in_contracts_usd":null,"supply_in_contracts_native_units":null,"supply_shielded":null,"supply_in_top_100_addresses":733759750.8479854,"supply_in_top_10_percent_addresses":1070408268.1950487,"supply_in_top_1_percent_addresses":1046312598.7735311,"supply_in_utxo_in_loss":null,"supply_in_utxo_in_profit":null},"alert_messages":null}}'
  recorded_at: Tue, 20 Jul 2021 14:54:12 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3972'
      X-Ratelimit-Reset:
      - '1626878767'
    body:
      encoding: UTF-8
      string: '{"st[...]
- request:
    method: get
    uri: http://localhost:2222/rewards/14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":163,"start_height":2420422,"end_height":2434734,"time":"2020-11-12T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4568144019","kind":"reward","claimed":true,"tx_hash":"0x10a85ae502ff9d59e5f357ce6b6e3e0318f6c3f871aae7fb5de7b1f4412316bc"},{"era":164,"start_height":2434734,"end_height":2449081,"time":"2020-11-13T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4039104970","kind":"reward","claimed":true,"tx_hash":"0x41cfa03f0e111b3fb34b6fe189a88573ac35ead0f4647b960fcf5d5b1ac1ccf5"},{"era":165,"start_height":2449081,"end_height":2463401,"time":"2020-[...]
- request:
    method: get
    uri: https://localhost:3333/delegators/figment.near/rewards?from=2021-04-21&interval=daily&to=2021-07-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '2000'
      Ratelimit-Reset:
      - '47'
      Ratelimit-Limit:
      - '2000'
      Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Remaining-Minute:
      - '1999'
      X-Concurrent-Quota-Limit:
      - '5'
      X-Concurrent-Quota-Remaining:
      - '4'
      X-Quota-Remaining-Day:
      - '99990'
      Quota-Limit:
      - '100000'
      Quota-Remaining:
      - '99990'
      Quota-Reset:
      - '32747'
      X-Quota-Limit-Day:
      - '100000'
    body:
      encoding: UTF-8
      string: '[{"interval":"2021-06-22","validator":"figment.poolv1.near","amount":"175318891792053565115550454"},{"interval":"2021-06-24","validator":"figment.poolv1.near","amount":"357360257236782080815929533"},{"interval":"2021-06-25","validator":"figment.poolv1.near","amount":"88987109819772932903628048"},{"interval":"2021-06-27","validator":"figment.poolv1.near","amount":"88564774096209113428964409"},{"interval":"2021-06-28","validator":"figment.poolv1.near","amount":"88964982182318842310001839"},{"interval":"2021-06-30","validator":"figment[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/near/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3971'
      X-Ratelimit-Reset:
      - '1626878767'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":10,"timestamp":"2021-07-20T14:54:14.239460617Z"},"data":{"id":"5416e814-8023-4f66-aadb-a063afca2414","symbol":"NEAR","name":"NEAR
        Protocol","slug":"near-protocol","contract_addresses":[],"_internal_temp_agora_id":"6bca8a6c-8c4c-4d64-a6c3-cf5b3b4464a4","parameters":{"asset_key":"near","asset_id":"5416e814-8023-4f66-aadb-a063afca2414","start":"2020-11-06T14:54:14.229165056Z","end":"2021-07-20T14:54:14.229165056Z","interval":"1d","order":"ascending","format":"json","timestamp_format":"unix-milliseconds","columns":["timestamp","open","high","low","close","volume"]},"schema":{"metric_id":"price","description":"Volume
        weighted average price computed using Messari Methodology","values_schema":{"timestamp":"Timestamp
        in milliseconds since the epoch (1 January 1970 00:00:00 UTC)","open":"The
        price of the asset at the beginning of the specified interval in US dollars.","high":"The
        highest price of the asset during the specified interval in US dollars.","low":"The
        highest price of the asset during the specified interval in US dollars","close":"The
        price of the asset at the end of the specified interval in US dollars.","volume":"The
        total volume traded during the specified interval across all Messari method
        markets in US dollars"},"minimum_interval":"1m","source_attribution":[{"name":"Kaiko","url":"https://www.kaiko.com/"}]},"values":[[1604707200000,0.7194947883881928,0.7936746135411268,0.6708478427978573,0.6973611581227613,11576797.73074542],[1604793600000,0.6973974640410936,0.8298684021088238,0.6829274669556514,0.8175152897450689,8200573.111165654],[1604880000000,0.8173052489164597,0.929448933641167,0.7985630932742025,0.929448933641167,11051605.418423306],[1604966400000,0.9284687801741693,0.9754451066373985,0.8825319276468245,0.9462490533526482,14978591.81962305],[1605052800000,0.9471300362566851,0.9933241269773437,0.85812[...]
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3970'
      X-Ratelimit-Reset:
      - '1626878767'
    body:
      e[...]
[...]
